<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="site-left">
              <div class="header">
                <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              </div>

              {{ content }}
            </div>
            <div class="site-right">
              <img class="float-left" src="/images/me.png" alt="shoutface" height="100"
                   width="100" />
              <p>
                Hi. My name is Paul Sims. Today, I am focused on
                integrating infrastructure and applications with
                OpenStack, specifically targeting solutions for
                enterprises who are hitting hurdles adopting cloud
                computing.
              </p> 
              <p>
                I am passionate about transforming all
                areas of traditional IT into cloud models, such as
                evolving cloud application design, using DevOps for
                continuous product delivery and designing software-driven
                infrastructure.
              </p>
            </div>
            <div class="footer">
              <div class="contact">
                <p>
                  chalupaul<br />
                  cloud architect & developer<br />
                  paul@paulsresume.net <br />
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/chalupaul/">github</a><br />
                  <a href="http://www.linkedin.com/profile/view?id=62710017">linkedin</a><br />
                  <a href="/resume/resume.pdf">resume (pdf)</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>

